.businesscontactForm {
    /* margin-top: 14px; */
    padding: 30px 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.businesscontactForm>h1 {
    font-size: 5em;
}

.businesscontactForm>form {
    border-radius: 8px;
    border: 1px solid color(srgb 0.867028 0.88 0.892972);
    padding: 8px 8px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.businesscontactForm>form>div {
    display: flex;
    flex-direction: column;
}
.businesscontactForm>form>div>input, button{
    font-size: 1.2rem;
    border: 1px solid #0d6dfd69;
    border-radius: 5px;
    padding: 5px;
}
